 {{#each data}}
<div class="movies-container2">

    <div class="box">
        <div class="photo"><img src="{{imagePath}}"></div>
        <div class="info">
            <h1>{{name}} <font color="red">&#9654</font> {{title}}</h1>
            <br><br>
            <p>{{txtrev}}</p>
            <br><br>


            <p>Rating: {{vote}} ⭐ </p>
        </div>


    </div>
</div>

 {{/each}}
 



